.spacex {
  background: white;
  padding: 15px;
  margin: 0 2% 2% 0;
}

@media screen and (min-width: 1024px) {
  .spacex {
    width: 23%;
    flex: 0 0 23%;
  }
}
@media only screen and (min-device-width: 701px) and (max-device-width: 1024px) {
  .spacex {
    width: 48%;
    flex: 0 0 48%;
  }
}

.spacex .imageBox {
  margin-bottom: 10px;
}
.spacex .imageBox img {
  width: 100%;
  height: auto;
  background: #eee;
}
.spacex h6 {
  color: blue;
}
.spacex ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
