.App {
  display: flex;
  justify-content: space-between;
}

body {
  background: #eee;
  padding: 10px;
}

.App h1 a {
  color: black;
  text-decoration: none;
}
@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 90%;
  }
}

.btn-success {
  background: #c5e09b;
  color: black;
}

.btn-success.focus,
.btn-success:focus {
  background: #7abd01;
  color: black;
  box-shadow: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 860px) {
  .btn-success {
    padding: 5px;
    font-size: 14px;
  }
  .listBox .filterlist li {
    margin: 4px !important;
  }
  .listBox h4 {
    font-size: 0.8rem;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 700px) {
  .spacexComponent {
    margin-top: 30px;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .h2,
  h2 {
    font-size: 1.5rem;
  }

  .h1,
  h1 {
    font-size: 2rem;
  }
}
